div.tooltip {	
    position: absolute;			
    text-align: center;	
    /* width: 60px; */
    padding: 2px;				
    font: 14px;	
    font-family: Arial;
    background-color: whitesmoke;	 
    opacity: 1;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
}

.text {
    font-family: 'Times New Roman', Times, serif;
}

.buttonDiv{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
tspan {
    color:#666666;
    font-family:Arial;
    /* font-weight: bold; */
}

.tooltip {
    text-align: center;
}
.tick text {
    font-size: 17px;
}

body h1 {
    text-align: center;
}

h2 {
    display: block;
    margin-left: 20%;
    margin-right: auto;
}

#svgid { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 4yPosc  00px; 
    width: 1500px;
}

circle {
    opacity:1;
}

#mapid { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px; 
    width: 60%;
}